.active{
    width: 20vh;
    text-align: center;
}
.logo
{
    margin-left: 50px;
    font-size: 20px;
    display: inline-block;
    width: 8%
}
img{
    width: 100%;
}
.menu
{
    float: right;
    margin: 50px 200px 0 0;

}
/*높이 인식을 위해 after content 추가 */
.menu::after
{
    content:"";
    display: block;
    clear: right;
}
.menu_item
{
    font-size: 20px;
    float:right;
    padding-left: 50px;
    padding-top: 10px;
}
