<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/addproduct.css">
</head>
<body>
<div class="container-fluid">
    <header class="head">
        <h1 class="logo">
            <img src="/image/logo.png" alt="">
        </h1>
        <!-- 홈페이지 menu화면  -->
        <nav class="menu">
            <ul>
                <li class="menu_item"><a href="/view/join">회원가입</a></li>
                <li class="menu_item"><a href="/view/login">로그인</a></li>
                <li class="menu_item"><a href="/view/addproduct">상품등록</a></li>
                <li class="menu_item"><a href="/view/productList">내가 등록한 상품</a></li>
            </ul>
        </nav>
    </header>
    <hr>
</div>

<div id="addProduct">
    <h2>상품등록</h2>
    <hr width="90%"/>

    <div id="productId"></div>
    <table id="addTable">
        <tr>
            <th><label for="title">상품이름</label></th>
                <td><input type="text" name="title" id="title" size="40%"></td>
        </tr>
        <tr>
            <th><label for="category">카테고리 </label></th>
            <td>
                <select name="category" id="category">
                    <option>의류</option>
                    <option>잡화</option>
                    <option>식품</option>
                    <option>유아</option>
                    <option>가구</option>
                    <option>디지털</option>
                    <option>스포츠</option>
                    <option>도서</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="contents">설명 </label></th>
            <td><textarea name="contents" id="contents"></textarea></td>
        </tr>
    </table>
    <form action="/api/product/image" method="POST" id="imageForm" name="imageData" enctype="multipart/form-data">
        <table>
            <tr>
                <th><label for="image">이미지</label></th>
                <td>
                    <!-- <input type="file" value="" name="upload[]" multiple> -->
                    <h3>파일(들)을 선택하세요.</h3>
                    <input id="image" type="file" name="file" multiple accept="image/*" >

                    <h3>Uploaded files</h3>
                    <ul id="file-list">
                        <li class="no-items">(파일이 선택되지 않음)</li>
                    </ul>
                </td>
            </tr>
        </table>

        <div id="Btn">
            <input type="submit" class="addBtn" value="상품등록">
            <input type="button" id="cancle" value="취소하기" onClick="location.href='index.html'">
        </div>
    </form>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/addproduct.js"></script>
</body>
</html>